header{
  width:100%;
  background-color: #056F86;
  color:white;
  position: sticky;
  top:0px;
  z-index: 100;
}
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

.cursive{
  font-family: 'Great Vibes', cursive;
}
header a{
  text-decoration: none;
  color:white;
  padding-top: 12px;
}
header a:hover{
  text-decoration: none;
  color:cyan;
  padding-top: 12px;
}